*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:#666;
    text-decoration: none;
}

/* colors */
.colors {
    color: pink;
    color: #FF007F;
    color: #CC0066;
    color: #319055;
    color: #003366;
    color: #36454F;
    color: #007F86;
    color: #007F86;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 100px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand a{
  font-size: 24px;
  font-weight: bold;
  color: #007F86;
}

.navbar-ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navbar-ul li{
    margin-left: 20px;
}

.navbar-ul li a{
    color: #666;
    transition: color 0.5s;
}

.navbar-ul li a:hover{
    color:#FF7F50;
}
.navbar-ul li a.active{
    color:#FF7F50;
}



.link-button{
    background-color: #007F86;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.my-footer{
    color: #f0e8e8;
    background-color: #444;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: 500;
}


/*HOME PAGE STYLING STARTS HERE*/
.home{
    margin-bottom: 100px;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    justify-content: flex-start;
}

.header-banner {
    /* background-image: url("../public/assets/images/hotel.webp"); */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.header-banner h1 {
    font-size: 50px;
    color: #f8f3f3;
}

.header-banner h3 {
    color: #f8f3f3;
    font-size: 30px;
}

.jana-color {
    color: #FF7F50;
}

.home-services{
    font-weight: 800;
    color: #007F86;
    text-align: center;
    margin: 5px auto 30px auto;
}
.service-section {
    margin: 0px 60px;
    display: flex;
    flex-wrap: wrap;
}
.service-card {
    flex: 1 1 45%;
    /* Two cards on one row, adjust width as needed */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
}


.service-card img {
    width: 50px;
    /* Adjust size of icon */
    margin-right: 10px;
}

.service-details {
    flex: 1;
}

.service-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
    color: #007F86;
}

.service-description {
    color: #444;
}
.view-rooms-home {
    margin: 15px 0px 0px 4.6rem;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    color: #FF7F50;

}

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    margin-left: 45px;
}

.search-field {
    flex: 0 0 calc(25% - 10px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #666;
}

.search-field input,
.search-field select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.home-search-button {
    margin-left: 10px;
    padding: 15px 20px;
    background-color: #007F86;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.home-search-button:hover {
    background-color: rgb(34, 80, 128)
}

.room-results {
    display: block;
    flex-wrap: wrap;
    margin: 10px 30px;
}

.room-list-item {
    width: calc(95% - 20px);
    height: 20vh;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.room-list-item-image {
    width: 20%;
    /* Adjust image width */
    height: 20vh;
}

.room-details {
    flex: 1;
    /* Take remaining space */
    padding: 15px;
    margin-left: 10px;
}

.room-details h3 {
    color: #007F86;
}

.room-detail-loading {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #666;

}

.book-now-div {
    align-self: center;
}

.book-now-button {
    background-color: #007F86;
    color: white;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
}

.book-now-button:hover {
    background-color: rgb(34, 80, 128)
}

